#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

#login-page .login-block {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 900px;
  height: auto;
  gap: 50px;
  padding: 75px 0px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
}

#login-page .login-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

#login-page #login, #login-page #password {
  width: 600px;
  height: 70px;
  font-size: 36px;
  padding: 0px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);

  transition: box-shadow 0.15s;
}

#login-page #login:focus, #login-page #password:focus {
  outline: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

#login-page #submit-login {
  font-size: 36px;
  padding: 15px 70px;
  background-color: #3572EF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-weight: 600;
  
  transition: box-shadow 0.15s;
}

#login-page #submit-login:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

#login-page #register-link {
  border: none;
  background-color: white;

  font-size: 24px;
  cursor: pointer;
  color: #3ABEF9;
}